{% extends "editor-layout.html" %}

{% block pageCss%}
 <style>
  
 </style>
{% endblock %}

{% block body %}
<main class="container-fluid body-main mt-2 bg-light">
    <div class="d-flex align-items-stretch flex-wrap re-flex" style="height: calc(100% - 63px)">
      <textarea id="editor-text" class="form-control prism-live language-latex"></textarea>
      <iframe id="html-preview" sandbox="allow-same-origin allow-scripts" srcdoc="" class="shadow p-3 bg-body rounded item">

      </iframe>
    </div>
  </main>
{% endblock %}

{% block pageJS%}


{% endblock %}
