{% extends "base.html" %}

{% block layoutCss %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/marketing-layout.css') }}">
  {% block pageCss %}{% endblock%}
{% endblock %}

{% block layout %}

<nav class="navbar navbar-expand-lg bg-light bd-navbar">
  <div class="container">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
      <img src="{{url_for('static',filename='images/icons/android-chrome-192x192.png')}}" class="header-logo"/>
      <span class="header-text">TechDocs-Test</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li class="nav-item"><a href="{{url_for('plans')}}" class="nav-link px-2 link-dark">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 link-dark">Help</a></li>
      </ul> 
    </div>
    <div class="text-end">
      <button type="button" class="btn btn-outline-primary me-2" onclick="redirectToLogin()">Login</button>
      <button type="button" class="btn btn-warning">Sign-up</button>
    </div>
  </div>
</nav>

  <main class="container-fluid body-main">
    {% block body %}{% endblock %}
  </main>


  <footer class="footer bd-blue-400">
    <div class="container">
      <div class="grid">
        <span class="text-muted">&copy; TechDocs</span> &nbsp;&nbsp;
        <a target="_blank" style="color: black;" href="https://github.com/prernawaghray/GL-TechDocs/tree/front_end"><i class="bi bi-github"></i></a>  
      </div>
      
    </div>
  </footer>

{% endblock %}

{% block layoutJS %}
   <script>
    function redirectToLogin(){
     window.location = "{{url_for('login')}}";
    }
 </script>
  {% block pageJS %}{% endblock%}

{% endblock %}
