{% extends "marketing-layout.html" %}

{% block pageCss%}
{% endblock %}

{% block body %}
<div class="container">
    <div class="b-example-divider"></div>
    <div class="card">
        <div class=" container px-1 py-2">
            <h1 class="pb-2 border-bottom">For Universities </h1>
            <div class=" card-body row-cols-1 row-cols-md-1 align-items-md-center py-5 ">
                <div class="d-flex flex-column text-center align-items-center gap-2">
                    <h3 class="fw-bold ">Get TecDocs For Your University</h3>
                    <p class="text-muted align-content-center">TecDocs is an online collaborative writing and
                        publishing tool that makes the whole process of writing, editing and publishing scientific
                        documents much quicker and easier. TecDocs provides the convenience of an easy-to-use LaTeX
                        editor with real-time collaboration and the fully compiled output produced automatically in
                        the background as you type.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-1 py-2">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
            <div class="d-flex flex-column gap-2">
                <div
                    class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#collection" />
                    </svg>
                </div>
                <p>If you'd like to find out more about how Overleaf can support your students and researchers,
                    please get in touch, we'd love to hear from you.</p>
                <p><a href="/for/contact-sales" class="btn btn-primary" event-tracking-ga="For-Pages"
                        event-tracking="Universities-Click-Contact" event-tracking-label="View-Button"
                        event-tracking-trigger="click">Contact Sales</a></p>
            </div>

        </div>
        <div class="row row-cols-1 row-cols-sm-2 g-4">
            <div class="d-flex flex-column gap-2">
                <div
                    class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#collection" />
                    </svg>
                </div>
                <div>
                    <p><strong>Overleaf Commons includes:</strong></p>
                </div>
                <ul>
                    <li><strong>Overleaf Professional accounts</strong> – for students, faculty and staff.</li>
                    <li><strong>Hassle-free license management</strong> – users simply register with their
                        institutional email address on Overleaf (or add it to their existing Overleaf account) to
                        join your Overleaf Commons license and receive their upgrade automatically.</li>
                    <li><strong>An Overleaf resource portal</strong> – featuring templates, FAQs and Help resources,
                        and a quick way for new users to sign up.</li>
                    <li><strong>Support</strong> – we’ll help you get everything set up and then we’re here to
                        answer questions from students, faculty and staff about the platform, templates or LaTeX
                        itself!</li>
                    <li><strong>Training videos and webinars</strong> – to help ensure your users and admin staff
                        are ready to use the Overleaf platform.</li>
                    <li><strong>Metrics and analytics</strong> – we provide an administrative dashboard with metrics
                        and analytics on platform use, users, projects and submissions.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row section-row">
    <div class="col-xs-12 col-sm-12">
        <div class="no-card text-center">
            <p>Contact Us for our Service kit to help gather support internally</p>
            <p>Includes instructions and a letter for your favorite librarian, head of department, or other decision
                maker.</p>
            <p><a href="/for/contact-Us" class="btn btn-primary btn-sm-3" event-tracking-ga="For-Pages"
                    event-tracking="Universities-Click-Contact" event-tracking-label="View-Button"
                    event-tracking-trigger="click">Contact us</a>
            </p>
        </div>
    </div>
</div>

</div>
{% endblock %}


{% block pageJS%}

{% endblock %}